<a href="shop/bone-t-shirt.html" class="product-item_component w-inline-block"><div class="product-image-contain"><img src="{{ 'platzhalter.svg' | asset_url }}" loading="lazy" alt="" class="product-image bone-shirt">
</div><div class="product-text-contain"><div class="heading-style-h4">bone t-Shirt</div><div class="product-cloth-price">recycled cotton</div><div class="product-cloth-price">$75</div></div></a>
