<div class="other-text-wrap"><div class="other-text">other cuts</div></div><div class="other-cloth-img-contain">{% render 'product_item', product: {{ product }} %}
{% render 'product_item', product: {{ product }} %}
{% render 'product_item', product: {{ product } %}
</div> {% schema %} {"tag":"div","name":"Product-Recommended","class":"other-cuts-section","presets":[{"name":"Product-Recommended","category":"Liquify","blocks":[]}]} {% endschema %}